<!-- sol/app/templates/about.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About SOLGIS</title>
    <link rel="shortcut icon" href="./SOLGIS.jpeg">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/scripts.js' %}"></script>
</head>

<body>
    <div class="header">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <div class="header-dropdown">
            <span>Other Services</span>
            <div class="header-dropdown-content">
                <a href="./knk özür dilerim/Webing/" onclick="navigateToYouTubeDownloader()">YouTube Video Downloader</a>
            </div>
        </div>
    </div>

    <h1>About SOLGIS</h1>
    <p>This is the about page for SOLGIS.</p>

    <!-- Diğer sayfa içeriği -->

</body>

</html>
