{% load static %}

<div class="header" >
  <div class="clickable-logo">
      <a href="{% url 'index' %}">
          <img class="header-logo" src="{% static 'app/images/head2.png' %}" alt="Your Image">
      </a>
  </div>
  <div class="menu">
    
      <a href="{% url 'index' %}">Home</a>
      <a href="{% url 'map' %}">Map</a>
      <a href="{% url 'calculate' %}">Calculate</a>
      <a href="{% url 'about' %}">About</a>
      <a href="http://127.0.0.1:8000/admin/">
          <button >Login</button></a>    

      </div>
   </div>
  </div>
</div>