{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOLGIS</title>
    <link rel="shortcut icon" href="./SOLGIS.jpeg">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw/dist/leaflet.draw.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-draw"></script>
    <script src="https://unpkg.com/leaflet-editable"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder"></script>
    
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <script src="{% static 'app/js/script.js' %}"></script>
</head>

<body>
    {% include 'header.html' %}

    <h1> Map Area Calculator</h1>


    <div id="search-bar"></div>

    <div id="map"></div>

    <div id="area-display">Area: <span class="area-value">0</span> square meters</div>
    <button onclick="calculatePanels()">Calculate</button>
    <script src="./script.js"></script>
    <script>
var map = L.map('map', {
    center: [39.86557, 32.73387],
    zoom: 30
});



function moveToCoordinates() {
    var latitude = parseFloat(document.getElementById('latitude').value);
    var longitude = parseFloat(document.getElementById('longitude').value);

    if (!isNaN(latitude) && !isNaN(longitude)) {

        


        map.setView([latitude, longitude], 15);
    } else {
        alert("Please enter valid coordinates");
    }
}


// Remove the attribution control
L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
    attribution: '',
    attributionControl: false
}).addTo(map);

map.editable = new L.Editable(map);

var drawnItems = new L.FeatureGroup();
map.addLayer(drawnItems);

var drawControl = new L.Control.Draw({
    edit: {
        featureGroup: drawnItems,
        remove: true,
        edit: false
    },
    draw: {
        polygon: {
            allowIntersection: false,
            showArea: true,
            shapeOptions: {
                color: '#3498db' 
            },
            drawError: {
                color: '#e74c3c', 
                timeout: 1000
            }
        },
        marker: true,
        circle: false,
        polyline: false,
        rectangle: false
    }
});
map.addControl(drawControl);


var searchControl = L.Control.geocoder().addTo(map);
document.getElementById('search-bar').appendChild(searchControl.getContainer());

document.getElementById('area-value').textContent = '0';
map.on('draw:created', function (e) {
    var layer = e.layer;
    drawnItems.clearLayers();
    drawnItems.addLayer(layer);
    updateAreaDisplay(layer);
});

function updateAreaDisplay(layer) {
    if (layer instanceof L.Polygon) {
        var area = L.GeometryUtil.geodesicArea(layer.getLatLngs()[0]);
        document.getElementById('area-value').textContent = area.toFixed(2);
    }
}
function calculatePanels() {
    var area = parseFloat(document.getElementById('area-value').textContent);
    if (!isNaN(area)) {
        
        var panelDimensions = [
            { watts: 50, width: 60, height: 50 },
            { watts: 100, width: 100, height: 60 },
            { watts: 200, width: 150, height: 70 },
            { watts: 300, width: 165, height: 100 },
            { watts: 400, width: 200, height: 100 },
            { watts: 500, width: 225, height: 110 },
            { watts: 600, width: 245, height: 115 }
        ];

        
        var panelCounts = panelDimensions.map(function (panel) {
            var panelArea = (panel.width / 100) * (panel.height / 100) ; 
            var numberOfPanels = Math.floor(area / panelArea);
            return { watts: panel.watts, count: numberOfPanels };
        });

        
        var resultMessage = "Number of panels needed:\n";
        panelCounts.forEach(function (panel) {
            resultMessage += panel.watts + " W: " + panel.count + " panels\n";
        });

        alert(resultMessage);
    } else {
        alert("Please draw an area on the map first.");
    }
}
    </script>

    {% include 'footer.html' %}

</body>


</html>
